<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul li {
            color: red;
        }


        .fieldError {
            color: red;

        }
    </style>
    <!--    <link type="text/css" rel="stylesheet" href="css/main.css">-->

</head>
<body>
<form action="#" th:action="@{/employee_save}" th:object="${employee}" method="post">
    <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <label>First Name</label><input type="text" th:field="*{firstName}">
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="fieldError">Incorrect
        firstName</p>
    </p>
    <p>
        <label>Last Name</label><input type="text" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError">Incorrect
        lastName</p>
    </p>
    <p>
        <label>Birthday</label><input type="text" th:field="*{birthDate}">
    <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" th:errorclass="fieldError">Incorrect
        birthDate</p>
    </p>

    <p>
        <label>Salary Level</label><input type="text" th:field="*{salaryLevel}">
    <p th:if="${#fields.hasErrors('salaryLevel')}" th:errors="*{salaryLevel}" th:errorclass="fieldError">Incorrect
        salaryLevel</p>
    </p>
    <h4>Address:</h4>
    <p>
        <label>Street</label><input type="text" th:field="*{address.street}">
    <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" th:errorclass="fieldError">Incorrect
        address.street</p>
    </p>
    <p>
        <label>State</label><input type="text" th:field="*{address.state}">
    <p th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" th:errorclass="fieldError">Incorrect
        address.state</p>
    </p>
    <p>
        <label>Zip Code</label><input type="text" th:field="*{address.zipCode}">
    <p th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" th:errorclass="fieldError">
        Incorrect address.zipCode</p>
    </p>
    <p id="buttons">
        <input id="reset" type="reset" tabindex="4">
        <input id="submit" type="submit" tabindex="5" value="Add Employee">
    </p>
</form>
</body>
</html>