<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul li{
            color: red;
        }


        .fieldError {
            color: red;

        }
    </style>

</head>
<body>
<form th:action="@{/member}" th:object="${member}" th:method="post">
    <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <p>
        <label>First Name</label><input type="text" th:field="*{firstName}" />
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="fieldError">Incorrect ID</p>
    </p>
   <p>
       <label>Last Name</label><input type="text" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError">Incorrect ID</p>

    </p>
    <p>
        <label>Age</label><input type="text" th:field="*{age}">
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="fieldError">Incorrect ID</p>

    </p>
    <p>
        <label>Member Number</label><input type="text" th:field="*{memberNumber}">
    <p th:if="${#fields.hasErrors('memberNumber')}" th:errors="*{memberNumber}" th:errorclass="fieldError">Incorrect memberNumber</p>

    </p>
    <p id="buttons">
        <input id="reset" type="reset">
        <input id="submit" type="submit" value="Add Member">
    </p>
</form>
</body>
</html>