<!--<!DOCTYPE html>-->
<!--<html lang="en" th="http://www.thymeleaf.org/" xmlns:th="http://www.w3.org/1999/xhtml">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link type="text/css" rel="stylesheet" href="css/main.css">-->

<!--</head>-->
<!--<body>-->
<!--<div id="global">-->
<!--<p>-->
<!--<h5>Details:</h5>-->
<!--First Name:<span th:text="${member.firstName}"></span><br>-->
<!--Last Name:<span th:text="${member.lastName}"></span><br>-->
<!--Age:<span th:text="${member.age}"></span><br>-->

<!--</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->